@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url("john-arano-h4i9G-de7Po-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-shadow: 3px 3px 3px#ddd;
  font-size: larger;
}

h1::before {
  content: url("bathroom-scale.png");
  zoom: 5%;
}

main {
  max-width: 50vw;
  margin: 25px auto;
  text-align: center;
  padding: 25px;
  background: #ffffffaf;
  border-radius: 5px;
}

.form-control {
  max-width: 50%;
  margin: 0.2rem auto;
  height: 1.5rem;
  font-size: smaller;
}

#resultado {
  margin-top: 25px;
  background-color: #406263;
  border-radius: 3px;
  padding: 15px;
  color: #ddd;
  font-weight: bold;
  display: none;
}

.table {
  margin: 20px auto;
  background-color: #406263;
  border-radius: 3px;
  color: #ddd;
  font-weight: bold;
  width: 80%;
  font-size: small;
}

footer {
  background: #3b3a3a;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: smaller;
}

footer a {
  color: #1e90ff;
  text-decoration: none;
}
